.container {
  width: 100%;
  height: 100vh;
  background-color: #f4f6fc;
}

.header {
  display: inline-block;
  position: relative;
  margin-left: 30px;
  margin-top: 20px;
}

.header img {
  width: 98%;
  height: 100px;
  border-radius: 15px;
}

.header h2 {
  position: absolute;
  top: 19px;
  left: 520px;
  color: white;
  font-size: 50px;
  letter-spacing: 12px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.payroll {
  margin: 20px 30px;
}

.error {
  color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: 140px;
}

.card-title {
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.card-value {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.card-background {
  background-image: url('../../assets/picture/Venice.jpg');
}

/* 图表容器样式 */
.chart-container {
  margin: 20px 30px;
}

.chart-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
}

/* 图表包裹容器，使用Flex布局 */
.chart-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 单个图表项样式 */
.chart-item {
  width: 45%;
  height: 400px;
  position: relative;
}

.chart-item canvas {
  width: 100%;
  height: 100%;
}

.chart-item p {
  text-align: center;
  color: gray;
}
